@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
body {
  background-image: url("../src/assets/jeju.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 250px minmax(800px, auto);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
